#welcome{
  background-color: rgb(28, 28, 41);
  border: 3px solid orangered;
  font-size: 2em;
  margin-left: 15%;
  margin-right: 15%;
  color: burlywood;
}

#returnButton {
  top: 0;
  left: 0;  
}

.four0four{
  font-size: 38px;
}

#four0fourpage{
  background-color: lightblue;
}

#see{
  font-size: 2em;
  color:brown;
}

#errorBody{
  position:absolute;
  left:0;
  right:0;
  background-color: palevioletred;
}

#returnHomeButton{
  font-size: 2em;
  color: darkblue ;
  background-color: pink;
  border: 2px solid yellow;
}

.navigationBar {
  width: 20%;
  background-color: #303030;
  opacity: 40%;
}

.navigationBar a {
  width:auto;
  display: block;
  text-align: center;
  padding: 15px;
  transition: all 0.5s ease;
  color: black;
  font-size: 18px;
  background-color: #fcba03;
}

.navigationBar a:hover {
  background-color: #006346;
}

.navigationBar2 {
  width: 20%;
  background-color: #303030;
  margin-left: auto;
  margin-right: 0;
  opacity: 40%;
}

.navigationBar2 a {
  display: block;
  text-align: center;
  padding: 15px;
  transition: all 0.5s ease;
  color: white;
  font-size: 18px;
  background-color: #777b7d;
}

.navigationBar2 a:hover {
  background-color: #006346;
}

.active {
  background-color: #008c62;
}


#mainPageCenter{
  /* background-color: darkgreen; */
  /* background-image: "Images\redux-logo-landscape.png" alt="logo"; */
  background: url('redux-logo-landscape.png');
  border: 5px solid burlywood;
}


#welcomeFooter{
  height: 3em;
  background-color: rgb(66, 50, 33);
  font-size: 3em;
  
}

footer{
  position:absolute;
  height:50px;
  background-color:rgb(100, 80, 80);
  bottom:0;
  left:0;
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
}

/* #homeButton{
  margin-top: 5%;
} */