#welcome{
  background-color: rgb(28, 28, 41);
  border: 3px solid orangered;
  font-size: 2em;
  margin-left: 15%;
  margin-right: 15%;
  color: burlywood;
}

#welcome2{
  background-color: rgb(28, 28, 41);
  border: 3px solid orangered;
  font-size: 2em;
  margin-left: 35%;
  margin-right: 35%;
  color: burlywood;
}


#history{
  background-color: lightblue;
  opacity: 1;
  height: 17em;
  justify-content: center;
  margin-top: 2em;
  border: 3px dashed white;
}

#returnButton {
  top: 0;
  left: 0;  
}

.four0four{
  font-size: 38px;
}

#four0fourpage{
  background-color: lightblue;
}

#see{
  font-size: 2em;
  color:brown;
}

#errorBody{
  position:absolute;
  left:0;
  right:0;
  background-color: palevioletred;
}

#returnHomeButton{
  font-size: 2em;
  color: darkblue ;
  background-color: pink;
  border: 2px solid yellow;
}

.navigationBar {
  width: 20%;
  background-color: #303030;
  opacity: 40%;
}

.navigationBar a {
  width:auto;
  display: block;
  text-align: center;
  padding: 15px;
  transition: all 0.5s ease;
  color: black;
  font-size: 18px;
  background-color: #fcba03;
}

.navigationBar a:hover {
  background-color: #006346;
}

.navigationBar2 {
  width: 20%;
  background-color: #303030;
  margin-left: auto;
  margin-right: 0;
  opacity: 40%;
}

.navigationBar2 a {
  display: block;
  text-align: center;
  padding: 15px;
  transition: all 0.5s ease;
  color: white;
  font-size: 18px;
  background-color: #777b7d;
}

.navigationBar2 a:hover {
  background-color: #006346;
}

.active {
  background-color: #008c62;
}

#mainPageCenter{
  /* background-color: darkgreen; */
  /* background-image: "Images\redux-logo-landscape.png" alt="logo"; */
  background: url('redux-logo-landscape.png');
  border: 5px solid burlywood;
}

#mainPageCenter2{
  background-color: #f54260;
  border: 5px solid burlywood;
}



#welcomeFooter{
  height: 3em;
  background-color: rgb(66, 50, 33);
  font-size: 3em;
  
}

footer{
  position:absolute;
  height:50px;
  background-color:rgb(100, 80, 80);
  bottom:0;
  left:0;
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
}
 /* CSS for about page */

#mainSection{
  position:absolute;
  border: 3px solid orange;
  margin-left: 18%;
  margin-right: 22%;
  list-style-type: none;
}

#gibberishHeading{
  border-bottom: 2px dashed gold;
  background-color: salmon;
  width: 31.5%;
}

#meSection{
  background-color: salmon;
  margin-left: 65%;
  margin-right: 5%;
  margin-top: 2%;
  border: 3px solid orange;
  /* padding-bottom: 2%; */
}

ul ol ul li{
  list-style-type: none;
  text-align: left;
}

.background{
  background-color: lightblue;
}

#buttonToCenter{
  background-color: #CA7878;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

/* .show {
  opacity: 1;
  transition: opacity 2s linear;
} */

#mainSpan{
  visibility: hidden;
}

#codeReview{
  margin-left: 2%;
}

.comparedTop{
  color: white;
}

#factsArea{
  border: 2px solid lightgoldenrodyellow;
  margin-left: 25%;
  margin-right: 5%;
  position: fixed;
  visibility: hidden;
  font-size: 3em;
  margin-top: 2%;
}
